/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
}

.navbar-container {
    position: sticky !important;
    display: block !important;
 }

 .bg-transparent {
    background: rgba(0, 0, 0, 0) !important;
 }

 .txt-dark {
     color: #333;
 }